<div class="container">
  <h1><b>Registration Form!</b></h1>
</div>
<div class="container">
  <h1>Registration</h1>
  <form>
    <div class="form-group">
      <label for="first">First Name</label>
      <input type="text" class="form-control" id="first" required>
    </div>

    <div class="form-group">
      <label for="middle">Middle Name(Optional)</label>
      <input type="text" class="form-control" id="middle">
    </div>

    <div class="form-group">
      <label for="last">Last Name</label>
      <input type="text" class="form-control" id="last" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
